<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scatterplot Chart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <!-- css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
        
        <!-- styled css -->
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href=".<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
    
    </head>
    <body class="body">
        <div id="app-container"></div>
        <script type="text/javascript" src=".<%= htmlWebpackPlugin.files.chunks.mainjs.entry %>"></script>
    </body>
</html>
