.axisLabel {
    font-size: 10px;
    color: grey;
}
.normalPoint {
    cursor: pointer;
}
.selectedPoint {
    stroke-width: 4px;
    stroke: #c1b6b6;
    cursor: pointer;
}
.yAxisLine {
    stroke: #c1b6b6;
    stroke-dasharray: 3;
}
.colorLable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.colorLable>div {
    padding-left: 5px;
    padding-right: 5px;
    color: #9e9d9c;
    min-width: 61px;
    text-align: left;
}
.circle {
    height: 10px;
    width: 8px;
    border-radius: 50%;
    padding-right: 10px;
}